<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SSSSSSS</title>
  </head>
  <body>
    <h1>YES!!!!!!!!!!!! SUCCESS POSTED </h1>
    <h1> name <%= contacted.who %> department <%= contacted.department %></h1>
  </body>
</html>
