<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      body{background: skyblue;font-family: verdana;color: #fff;padding: 30px;}
      h1{font-size: 48px;text-transform: uppercase;letter-spacing: 2px;text-align: center;}
      p,li{ font-size: 16px;text-align: center;}
      h2{font-size: 30px;text-transform: uppercase;letter-spacing: 2px;text-align: center;}
    </style>
  </head>
  <body>
    <% include partials/nav.ejs %>

    <h1>WELCOME TO THE PROFILE OF <%= person %></h1>
    <p><strong>AGE:</strong><%= data.age%></p>
    <p><strong>JOB:</strong><%= data.job%></p>

    <h2>HOBBIES</h2>
    <ul>
      <% data.hobbie.forEach(function(item){ %>
        <li><%= item %></li>
      <% }); %>
    </ul>
  </body>
</html>
